input,
label {
    display: block;
}


#startContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.bottomRow {
    display: flex;
    justify-content: center;
}

.fakeColumn {
    border: 1px solid black;
    padding: 5px;
}

.fakeOuterColumn {
    flex: 1;
}

.fakeOuterRow,
.fakeTable{
    border: 1px solid black;
    padding: 20px;
}

.fakeRow {
    display: flex;
}

.fakeTableContainer {
    padding-top: 16px;
}

.fakeTableContainer,
.tableCreatorMenu {
    width: 50%;
}

.generatedComponent {
    width: 70%;
    background-color: gray;
}

.inputContainer {
    width: 150px;
}

.inputRow {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}

.inputRow input {
    width: 100%;
}

.page {
    width: 75%;
}

.tableCreatorMenu {
    padding-left: 15px;
}

.tableCreatorMenu p {
    font-style: italic;
}

.title {
    font-weight: 800;
}

.topRow {
    display: flex;
    margin-bottom: 25px;
}

@media screen and (max-width: 900px) {
    .fakeTableContainer {
        padding-left: 15px;
    }

    .generatedComponent {
        width: 100%;
    }

    .page {
       width: 100%;
    }    

    .title{
        padding-left: 15px;
    }

    .topRow {
        flex-direction: column;
     }

 }