#main {
    display: none;
}

#startContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.bottomRow {
    display: flex;
    justify-content: center;
}

.generatedComponent {
    width: 30%;
    background-color: gray;
    text-align: center;
}

.fakeTableContainer,
.tableCreatorMenu {
    width: 50%;
}

.fakeRow,
.fakeTable,
.fakeColumn {
    width: 95%;
}

.fakeTableContainer div {
    border: 1px solid black;
    padding: 20px;
}

.fakeTableContainer {
    padding-top: 16px;
}

.inputContainer div {
    width: 25%;
}

.inputContainer {
    display: flex;
    margin-bottom: 25px;
}

.inputContainer input {
    width: 100%;
}

input,
label {
    display: block;
}

.rowContainer {
    margin-right: 25px;
}


.tableCreatorMenu {
    padding-left: 15px;
}

.tableCreator {
    background-color: #ffc0cb;
    border: 5px solid rgb(15, 53, 224);
    border-radius: 10px;
    color: #000;
    height: 150px;
    width: 150px;
}

.title {
    font-size: xx-large;
    font-weight: 800;
}


.topRow {
    display: flex;
}